---
version: "3"
services:
  nginx-proxy:
    image: {{ image_openresty }}
{% if docker_network_host is undefined %}
    ports:
{% for port in nginx_docker_ports %}
      - {{ port }}
{% endfor %}    
{% endif %}
    volumes:
{% for vol in nginx_docker_volumes %}
      - {{ vol }}
{% endfor %}
      - /etc/localtime:/etc/localtime:ro
{% if existing_certs is defined and existing_certs|bool==false %}
      - /var/www/letsencrypt:/var/www/letsencrypt
      - /etc/letsencrypt:/etc/letsencrypt
{% endif %}
{% if docker_network_host is undefined %}
    networks:
      {{ nginx_network_name }}:
{% if docker_network_ip is defined %}
         ipv4_address: {{ docker_network_ip }}
{% endif %}
{% else %}
    network_mode: host
{% endif %}
{% if nginx_run_as is defined and nginx_run_as=="stack" %}
    deploy:
      placement:
        constraints:
{% for constraints in nginx_docker_stack_constraints %}
          - {{ constraints }}
{% endfor %}
      restart_policy:
        condition: {{ nginx_docker_stack_condition }}
{% else %}
    restart: unless-stopped
{% endif %}
    healthcheck: { test: ["CMD", "nginx", "-t"], timeout: 5s, interval: 30s }

{% if docker_network_host is undefined %}
networks:
  {{ nginx_network_name }}:
    external: true
{% endif %}